<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="icheck-material" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Components" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Components.Analyzers" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Components.Authorization" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Components.Forms" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Components.Web" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Metadata" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.10" targetFramework="net472" />
  <package id="Microsoft.JSInterop" version="3.1.10" targetFramework="net472" />
  <package id="Skclusive.Core.Component" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Extensions.DependencyInjection" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Material.Button" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Material.Core" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Material.Theme" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Material.Transition" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Script.DomHelpers" version="5.2.0" targetFramework="net472" />
  <package id="Skclusive.Transition.Component" version="5.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>